In [1]:
import pandas as pd
import plotly.graph_objs as go
import plotly.offline as py
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

COLOR = 'white'
plt.rcParams['text.color'] = COLOR
plt.rcParams['xtick.color'] = COLOR
plt.rcParams['ytick.color'] = COLOR
plt.rcParams['axes.labelcolor'] = COLOR

In [2]:
champ = pd.read_csv('wc_champions.csv')
champ.head()

,Unnamed: 0,champion,sum_total,win_total,lose_total,winrate_total,sum_blue_side,win_blue_side,lose_blue_side,winrate_blue_side,...,winrate_30_35_min,matches_35_40_min,win_lose_35_40_min,winrate_35_40_min,matches_40_45_min,win_lose_40_45_min,winrate_40_45_min,matches_more_45_min,win_lose_more_45_min,winrate_more_45_min
0,1,Kai'Sa,71,37,34,52%,30,15,15,50%,...,46%,11,4-7,36%,5,3-2,60%,1,1-0,100%
1,2,Lee Sin,58,30,28,52%,21,11,10,52%,...,45%,10,6-4,60%,8,5-3,63%,1,0-1,0%
2,3,Xayah,57,35,22,61%,33,21,12,64%,...,70%,9,3-6,33%,5,2-3,40%,2,2-0,100%
3,4,Nautilus,52,28,24,54%,27,17,10,63%,...,47%,11,7-4,64%,5,3-2,60%,2,2-0,100%
4,5,Gragas,49,32,17,65%,26,16,10,62%,...,59%,7,6-1,86%,6,6-0,100%,2,1-1,50%

In [3]:
del champ['Unnamed: 0']
champ.head()

,champion,sum_total,win_total,lose_total,winrate_total,sum_blue_side,win_blue_side,lose_blue_side,winrate_blue_side,sum_red_side,...,winrate_30_35_min,matches_35_40_min,win_lose_35_40_min,winrate_35_40_min,matches_40_45_min,win_lose_40_45_min,winrate_40_45_min,matches_more_45_min,win_lose_more_45_min,winrate_more_45_min
0,Kai'Sa,71,37,34,52%,30,15,15,50%,41,...,46%,11,4-7,36%,5,3-2,60%,1,1-0,100%
1,Lee Sin,58,30,28,52%,21,11,10,52%,37,...,45%,10,6-4,60%,8,5-3,63%,1,0-1,0%
2,Xayah,57,35,22,61%,33,21,12,64%,24,...,70%,9,3-6,33%,5,2-3,40%,2,2-0,100%
3,Nautilus,52,28,24,54%,27,17,10,63%,25,...,47%,11,7-4,64%,5,3-2,60%,2,2-0,100%
4,Gragas,49,32,17,65%,26,16,10,62%,23,...,59%,7,6-1,86%,6,6-0,100%,2,1-1,50%

In [4]:
champ['winrate'] = list(map(lambda x: x[:-1], champ['winrate_total'].values))
# 퍼센트 제거하는 코드 (퍼센트가 있어서 계산이 불가능해서)
# 한번만 할 것 왜냐면 뒤에 문자 및 숫자를 삭제를 하는 코드라 계속하면 데이터가 사라짐
champ['winrate'] = champ['winrate'].astype('float64') * 0.01
champ['winrate']
champ.head()

,champion,sum_total,win_total,lose_total,winrate_total,sum_blue_side,win_blue_side,lose_blue_side,winrate_blue_side,sum_red_side,...,matches_35_40_min,win_lose_35_40_min,winrate_35_40_min,matches_40_45_min,win_lose_40_45_min,winrate_40_45_min,matches_more_45_min,win_lose_more_45_min,winrate_more_45_min,winrate
0,Kai'Sa,71,37,34,52%,30,15,15,50%,41,...,11,4-7,36%,5,3-2,60%,1,1-0,100%,0.52
1,Lee Sin,58,30,28,52%,21,11,10,52%,37,...,10,6-4,60%,8,5-3,63%,1,0-1,0%,0.52
2,Xayah,57,35,22,61%,33,21,12,64%,24,...,9,3-6,33%,5,2-3,40%,2,2-0,100%,0.61
3,Nautilus,52,28,24,54%,27,17,10,63%,25,...,11,7-4,64%,5,3-2,60%,2,2-0,100%,0.54
4,Gragas,49,32,17,65%,26,16,10,62%,23,...,7,6-1,86%,6,6-0,100%,2,1-1,50%,0.65

In [5]:
# 5회이상 선택된 챔피언 중 가장 높은 승률
champs = champ[(champ['sum_total'] > 5)]
champs['winrate'].max()

0.71

In [6]:
highest_win = champs[champs['winrate'] == champs['winrate'].values.max()]
highest_win
print('The most highest winrate champions that more than 5 times selected were' , highest_win['champion'][48],'and', highest_win['champion'][49])

The most highest winrate champions that more than 5 times selected were Kennen and Tahm Kench

In [7]:
# 30번 이상 선택에 승률 5할 이상인 챔피언들
champ_30 = champs[(champs['sum_total'] > 30) & (champs['winrate'] > 0.50)]
champ_30['champion'].to_frame()
# plt.title('how many game most champions win')
# plt.show()

     champion
0      Kai'Sa
1     Lee Sin
2       Xayah
3    Nautilus
4      Gragas
5       Rakan
6   Gangplank
7        Ryze
10   Renekton

In [8]:
# ids, cols = pd.np.where(champ == champ['winrate_total'].values.max())

In [9]:
players = pd.read_csv('wc_players.csv')
players.head()

,Unnamed: 0,date,side,position,player,team,champion,ban1,ban2,ban3,...,gdat15,xpat10,oppxpat10,xpdat10,csat10,oppcsat10,csdat10,csat15,oppcsat15,csdat15
0,0,43740.286146,Blue,Top,Evi,DetonatioN FocusMe,Gnar,Qiyana,Gangplank,Akali,...,-798,4530,5051,-521,76,90,-14,116,122,-6
1,1,43740.286146,Blue,Jungle,Steal,DetonatioN FocusMe,Ekko,Qiyana,Gangplank,Akali,...,-1366,3679,3928,-249,60,64,-4,88,105,-17
2,2,43740.286146,Blue,Middle,Ceros,DetonatioN FocusMe,Nocturne,Qiyana,Gangplank,Akali,...,-629,4751,4533,218,88,85,3,131,150,-19
3,3,43740.286146,Blue,ADC,Yutapon,DetonatioN FocusMe,Lucian,Qiyana,Gangplank,Akali,...,-1829,3526,3532,-6,87,76,11,119,134,-15
4,4,43740.286146,Blue,Support,Gaeng,DetonatioN FocusMe,Thresh,Qiyana,Gangplank,Akali,...,-1156,2731,2376,355,4,3,1,6,5,1

In [10]:
ban = players[['ban1', 'ban2', 'ban3', 'ban4', 'ban5']]
ban['ban4'].value_counts()

Gangplank       65
Nautilus        60
LeBlanc         55
Elise           50
Twisted Fate    45
                ..
Jinx             5
Quinn            5
Sivir            5
Braum            5
Heimerdinger     5
Name: ban4, Length: 61, dtype: int64

In [11]:
# 모든 경기에서 밴 당한 총 챔피언들의 수의 합

ban_total = pd.DataFrame([ban['ban1'].value_counts(), ban['ban2'].value_counts(), ban['ban3'].value_counts(), ban['ban4'].value_counts(), ban['ban5'].value_counts()]).T

ban_frame = ban_total.sum(axis=1).to_frame()
ban_frame = ban_frame / 5

ban_frame.columns = ['ban_counts']
ban_frame = ban_frame.sort_values(by=['ban_counts'], ascending=False)
ban_frame.head()

          ban_counts
Pantheon       118.0
Qiyana          86.0
Syndra          66.0
Renekton        61.0
Akali           54.0